body {
  margin: 0 auto;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
}
.cabecera {
  display: block;
  text-align: center;
  margin: 2%;
}

.imagen {
  width: 300px;
}

#resultados {
  column-count: 3;
}

.buscador {
  text-align: center;
  margin: 4%;
}

.buscador input {
  border-radius: 20px;
  padding: 5px;
  font-size: 1em;
}

.buscador #btnBuscar {
  border-radius: 10px;
  padding: 5px;
  font-size: 1em
}